page-arena-details {
  img {
    max-width: 100px !important;
    margin: auto;
  }

  p {
    padding-bottom: 5%;
  }

  h2 {
    font-weight: bold;
  }

  .trophy-img {
    display: inline !important;
    width: 15px !important;
    height: 15px !important;
  }

  .fix-padding {
    max-width: 50px !important;
    margin: auto;
  }

  .fix-img {
    max-width: 150px !important;
  }
}
